/* Gobal Styles */

:root {
  --yellow: #ffc95d;
  --Black: #1a2028;
  --brown: #ae847e;
  --offWhite: #fff1f1;
  --offBlack: #212429 ;
}

body {
  background-color: var(--offBlack);
  color: var(--offWhite);
}

h1, h2 {
  font-family: 'Libre Baskerville', serif;
  color: var(--yellow);
}

h1 {
  font-size: 2.441rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.953rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.563rem;
  margin-bottom: 1rem;
}

p,li {
  font-family: 'Lato', sans-serif;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: var(--offWhite);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-coll {
  display: flex;
  flex-direction: column;
}


/* Header Styles */

/* Body Styles */

.header h1 {
  color: var(--offWhite);
}

.header p {
  margin-top: -1.5rem;
  color: var(--yellow);
}


/* Footer Styles */

.nav-li {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.nav-li svg {
  margin: .5rem .5rem .75rem;
}


