/* Universal Styles */

body {
  font-size: 22px;
}

/* Fonts 

  Baskerville
  font-family: 'Libre Baskerville', serif;

  Lato
  font-family: 'Lato', sans-serif;

*/

:root {
  --yellow: #f9d04c;
  --offBlack: #212429;
  --brown: #ae847e;
  --offWhite: #fff1f1;
  --darkPurple: #160c28;
  --ebony: #515a47;
}

h1, h2, h3, h4, p, li {
  color: var(--offBlack);
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
}

h1 {
  font-size: 2.441rem;
  margin-bottom: 2rem;
}
h2 {
  font-size: 1.953rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.563rem;
  margin-bottom: 1rem;
}

p,li {
  font-family: 'Lato', sans-serif;
}

p {
  margin-bottom: 1rem;
}


a {
  text-decoration: none;
  color: var(--darkPurple);
}

a:hover {
  color: var(--offBlack);
  text-decoration: underline;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}



/* Header Styles */

header {
  background-color: var(--offBlack);
  padding: 1rem;
  height: 8rem;
  width: 100%;
}

.logo img {
  max-width: 8rem;
  max-height: 6rem;
}

.logo {
  padding: .5rem;
  margin-top: 1rem;
}

.hamburger {
  position: absolute;
  top: 6px;
  right: 16px;
  margin-right: 1.5rem;
}

.mobile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav {
  width: 20rem;
  padding-top: 1.5rem;
  margin-left: 5rem;
}


.nav li {
  font-weight: bold;
  line-height: 2;
  text-align: center;
  padding: .5rem 0;
}

.nav li a {
  color: var(--offWhite);
}

.main-menu {
  width: 100%;
  justify-content: space-around;
}


/* nav {
  z-index: -2;
  position: absolute;
  background-color: var(--yellow);
  left: 0;
  width: 100vw;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

} */





/* hamburger menu animation */

#nav-icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--offWhite);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2), #nav-icon span:nth-child(3) {
  top: 18px;
}

#nav-icon span:nth-child(4) {
  top: 36px;
}

#nav-icon.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}




/* Body Styles */

.content {
  margin: 3rem 1rem 3rem ;
}

.learn-more a {
  color: var(--darkPurple);
}

.learn-more:hover {
  color: var(--brown);

}

/* Footer Styles */